<h1>List of Event Organizers</h1>

<ul>
  <% @organizers.each do |organizer| %>
  	<p><a href="/organizers/<%= organizer.id %>"><%= organizer.name %></a>       <%= organizer.email %>
		<form action="/organizers/<%= organizer.id %>" method="POST">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" name="submit" value="Delete">
		</form>
  	</p>
  <% end %>
</ul>

<br>
<pre><a href="/">Home</a>     <a href="/events">All Events</a>     <a href="/events/new">List New Event</a></pre>
