<pre><a href="/">Home</a>     <a href="/events">All Events</a>     <a href="/organizers">Event Organizers</a>     <a href="/logout">Organizer Logout</a></pre>

<h1>List of Event Organizers</h1>

<ul>
  <% @organizers.each do |organizer| %>
  	<pre><a href="/organizers/<%= organizer.id %>"><%= organizer.name %></a>       <%= organizer.email %></pre>
  <% end %>
</ul>

