<h1>Event Organizer: <%= @organizer.name %></h1>

<h2>Your Events Posted to Our Website</h2><br>

<% if @organizer.events.empty? %>
    <p>You have no events listed with us</p>
<% else %>
	<ul>
	  <% @organizer.events.each do |event| %> 
		<li>
		  <h3><a href="/events/<%= event.id %>"><%= event.name %></a></h3>
		  <p><%= event.date %></p><br>
		</li>
	  <% end %>
	 </ul>
<% end %>

 <pre><a href="/">Home</a>     <a href="/events">All Events</a><span>     </span><a href="/events/new">List New Event</a>     <a href="/organizers">Event Organizers</a></pre>