<h2>Event: @event.name</h2>

<p>Date: <%= @event.date %></p>

<p>Contact Information: <%= @event.contact_info %></p>

<p><%= @event.message %></p>

<h3>List of Races in Event</h3>

<ul>
	<% @races.each do |race| %>
		<li><% race %></li>
	<% end %>
</ul><br><br>
<h3>Do you wish to delete this event from the calendar?</h3><br>

<form action="events/<%= @event.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>