<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MO-KAN Running Event List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.jsk"></script>
  </head>

  <body>
	<pre><a href="/">Home</a>     <a href="/events">All Events</a>     <a href="/organizers">Event Organizers</a>     <% if logged_in? %><a href="/logout">Organizer Logout</a><% end %></pre>

	<h2>List of Racing Events in the Missouri-Kansas Area</h2><br>

	<ul>
	  <% @events.each do |event| %> 
		<li>
		  <h3><a href="/events/<%= event.id %>"><%= event.name %></a></h3>
		  <p><%= event.date %></p><br>
		</li>
	  <% end %>
	 </ul>

	<% if logged_in? %>
	  <p><a href="/logout">Logout</a></p>
	<% else %>
	  <pre><a href="/">Home</a>     <a href="/login">Login to Edit</a></pre>
	<% end %>

	<footer>
		&copy; 2018 Hal Fields. All Rights Reserved.
	</footer>
	
  </body>
</html>