
<pre><a href="/">Home</a>     <a href="/events">All Events</a>     <a href="/organizers">Event Organizers</a>     <a href="/logout">Organizer Logout</a></pre>

<h2>Let's List a New Event!</h2><br>

<form action="/events" method="POST">
	<label for="event_name">Event Name: </label>
	<input type="text" name="name" id="event_name">
	<br><br>
	<label for="event_date">Event Date: </label>
	<input type="date" name="date" id="event_date">
	<br><br>
	<label for="event_location">Event Location: </label>
	<input type="text" name="location" id="event_location">
	<br><br>
	<label for="start_time">Start Time: </label>
	<input type="time" name="start_time" id="start_time">
	<br><br>
	<label for="contact_email">Contact Email: </label>
	<input type="email" name="contact_email" id="contact_email">	
	<br><br>
	<label for="website_url">Race Website URL: </label>
	<input type="url" name="website_url" id="website_url">	
	<br><br>	
	<label for="message">Message: </label>
	<input type="text_area" name="message" id="message">
	<br>
	<input type="hidden" name="organizer_id" value="<%= @organizer.id %>" id="organizer_id">
	<br>

	<p>Check each type of race that will be at your event</p><br>
	<input type="checkbox" name="races[]" value="fun_run">Fun Run<br>
	<input type="checkbox" name="races[]" value="five_k">5K<br>
	<input type="checkbox" name="races[]" value="ten_k">10K<br>
	<input type="checkbox" name="races[]" value="half_marathon">Half Marathon<br>
	<input type="checkbox" name="races[]" value="marathon">Marathon<br>
	<input type="checkbox" name="races[]" value="ultra">Ultra<br>

	<input type="submit" name="submit" value="Submit">
</form>



