<h2>Event Organizers Login Page</h2><br>

<form action="/login" method="POST">
	<label for="email">Email: </label>
	<input type="email" name="email" id="email"><br>

	<input type="submit" name="submit" value="Login">
</form>