<h2>Event Organizer Signup</h2><br>

<p>By signing up with a valid email and password, you will be authorized to post race information and edit it as you need.</p><br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<form action="/signup" method="POST">
	<label for="name">Name: </label>
	<input type="text" name="name" id="name"><br><br>

	<label for="email">Email: </label>
	<input type="email" name="email" id="email"><br><br>

	<label for="password">Password: </label>
	<input type="password" name="password" id="password"><br><br>

	<input type="submit" name="submit" value="Signup">

</form>


