<H2>Welcome to MO-KAN Running</H2><br>

<p>This site lists races in the Missouri-Kansas area. It is not intended to be exhaustive, but we will list any races that the event organizers report to us.</p><br>

<p>Runners, check out a current list of races <a href="/events/index">here</a></p><br>

<p>Event organizers <a href="/signup">signup</a> or <a href="/login">login</a></p>

<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>
